.mainArea {
  display: flex;
}

.mainArea > *:nth-child(1) {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.mainArea > *:nth-child(2) {
  margin: 0 0 0 30%;
  width: 70%;
}

.header {
  padding: 15px;
  width: 70%;
  background-color: #fff;
  border-bottom: 1px solid #333;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
}

.header + .routeArea {
  margin: 55px 0;
}

.routeArea {
  padding: 15px;
}
